*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans" ,sans-serif;
    outline:none;
    
}

.main-page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr .1fr 2.5fr;
}

.top{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  #313F70;
    color: #D4DBF5;
}

.top h1,.top h3{
    margin:1rem;
}


.mid{
    grid-column: 1/-1;
    grid-row:2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A1747;
    color: #D4DBF5;
}

.mid h4{
    margin: 1rem 1rem;
}

.mid i{
    margin-left:2rem;
}

.bot{
    grid-column: 1/-1;
    grid-row: 3/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D4DBF5;
    color: #0D1440;
}

.bot img{
    width: 15rem;
    height: 15rem;
    margin: 4rem ;
}

/* .bot h3{
    grid-column: 2/-1;
    grid-row: 3/-1;
    justify-content: center;
} */

.bot .sp1{
    font-size: 2rem;
}

.bot span{
    padding-bottom: 4rem;
}