body{
    margin: 0;
    font-family: 'Noto Sans';
}

.intro{
    margin-left: 100px;
    display: flex;
    position: relative;
}

.intro--text{
    flex-direction: column;
    position: relative;
    /* margin-left: 30em;   */
}

.intro img{
    width: 25%;
    margin: 1em;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
    0.125em 0.125em 0.25em rgba(0,0,0,0.15);

}

.intro--title {
    font-size: 3em;
    margin-top: 2em;
    /* background-color: red; */
    display: inline-block;
}

.intro--subtitle{
    font-size: 2em;
    margin: 0;
}

.intro--text spam{
    font-weight: 900;
}



.about{
    background-image: url(img/christopher-gower-m_HRfLhgABo-unsplash@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.about--div{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.p-about{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 4em;
    margin-left: 1em;
}


