*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(
         to right , 
      #FF5F6D,#FFC371
    );
    font-family: "Montserrat","sans-serif";
    height: 100vh; 
    position: relative;
}

.info{
    width: 60%;
    height: 60%;
    background: #fff;
    position: absolute;
     top: 48%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%) ;
    display: flex;

}

.info-left{
    /* display: inline-block; */
    width: 55%;
    text-align: center;
    background-image:
    linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7) ),
    url(meric-dagli-2i-JP4tVAp8-unsplash.jpg);
    background-size: cover;
    color: #fff;
}


.info-left h1{
    padding-top: 20vh;
    font-weight: 800;
    font-size: 37px;
}

.info-left h2{
    padding-top: 5vh;
    font-weight: 400;
    font-size: 30px;
}

.info-right{
    display: inline-block;
    width: 40%;
    padding-top: 14vh;
    padding-left: 3vw;
    
}

.info-right p{
    padding: 10px;
    line-height: 2.4;
    font-size: 20px;
    color: rgb(100, 100, 100);
}

.links{
    position: absolute;
    top: 83%;
    left: 30%;
    display: flex;
}

.links a{
    font-size: 50px;
    padding-right: 50%;
    color: #fff;
}
